html,body{
 width:100%;height:100%;font-family:ËÎÌå,Î¢ÈíÑÅºÚ,Tahoma,'Microsoft Yahei','Simsun';
 font-size:13px;padding:0;margin:0;overflow:hidden;
}
p,h1,h2,h3,h4,h5,h6,ul,li,dl,dt,dd,form,input{
  margin:0;padding:0;list-style:none;
}
